body {
    /* background-color: #262045; */
    background-color: #051028;
}

h1,h2,h3,h4,h5,h6,p,span,button,a {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.text-blue {
    color: #008df2;
}

.text-light-blue {
    color: #add1eb;
}

.text-white {
    color: #ffffff;
}

.text-red {
    color: #d52020;
}

.text-dark-blue {
    color: #002c8a;
}

.bg-grey {
    background-color: #1f1f1f;
}

.bg-light-grey {
    background-color: #ededed;
}

.bg-dark-blue {
    background-color: #051028
}

.myround {
    border-radius: 30px;
}

ul li.list-group-item {
    padding: 15px;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a.billing {
    color: #0c222c;
}

a:hover.billing {
    color: #1277f2;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  background-image: unset !important;
}